/*common shared style*/
body{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    margin: 0;
    background-color: black;
    
    
}

/*praimary*/
.titel-color{
    color: lightslategray;
}
.btn-primary{
    border-radius: 5px;
    background-color:lightslategray;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    box-shadow: 4px 5px 10px black;
}

/*nav related style*/
nav { 
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-titel{
    font-weight: 800;
    font-size: 45px;
    color: #1f1b1b;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;


}

/* header styles*/

.header{
    background-color: aqua;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 700;
}

.banner .profile-pic{
    width: 400px;
}

.banner-welcome{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;

}
.banner-titel{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-paragraph{
    font-size: 15px;
    margin-top: 0;
}

/*main section style */
main{
    width: 1140px;
    margin: 0 auto;
    
}
main section{
    margin-top: 130px;
}

/*section style*/
.section-titel{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: white;

}

.section-description{
font-weight: 400;
font-size: 18px;
line-height: 30px;
text-align: center;
color:  wheat;
}
/* about section style*/

.about{
    background: black;
    border-radius: 10px;
    padding: 100px;
    margin: 130px ;
    box-shadow: 4px 10px 60px aqua;
}

.about-info-cotainer{
    display: flex;
    justify-content: space-around;
    color: white;

}
.about-info{
    text-align: center;
    
}



/* skill style*/
#what-i-titel{
    color: white;
    text-decoration: underline;
}
#what-i-descript{
    padding: 30px 150px;
}
.skill-container{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    
    

}
.skill{
    padding: 30px; 
    box-shadow: 10px 10px 20px aqua;
    border-radius: 20px;
}
.skill-titel{
    color: white;
}
.skill-description{
    color: white;
}

/*resume style*/

.resume-containar{
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}
.resume-containar hr{
    margin: 30px 0;
}
.resume-column{
    color: white;
    font-size: 20px;
    font-weight: 700;
    
}
.resume-titel{
    margin-bottom: 20px;

}
.resume-item-titel{
    font: 25px;
}
.resume-item-institute{
    color: lightgray;
}
.resume-item-description{
    color: lightgray;
}
.download-cv{
    text-align: center;
    margin-bottom: 30px;
    
}
#resume-btn{
    box-shadow: 4px 5px 10px aqua;
    padding: 20px;
}

.bx bxs-download{
    color: white;
}
.social-link img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

