/*common shared style*/
body{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    margin: 0;
    
    
}

/*praimary*/
.titel-color{
    color: lightslategray;
}
.btn-primary{
    border-radius: 5px;
    background-color:lightslategray;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/*nav related style*/
nav { 
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-titel{
    font-weight: 800;
    font-size: 45px;
    color: #1f1b1b;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;


}

/* header styles*/

.header{
    background-color: aqua;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-pic{
    width: 400px;
}